.contactContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); */

    img{
        height: 80px;
        margin: auto;
        padding-bottom: 20px;
    }

    .card{
        margin: 30px;
    }
}

@media screen and (max-width: 700px){
    .contactContent{
        flex-direction: column;
        img{
            height: 40px;
        }
    }
}